@model tallyvu.Models.Poll

<script id="scriptInit" type="text/javascript">   
    $(document).ready(function () {
        var votes = @(Html.Raw(Json.Encode(ViewBag.Votes)));
        var poll = $.connection.pollHub;

        poll.updateVotes = function (v) {
            createBarChart(v);
        }
        
        $.connection.hub.start( 
            function() {
                poll.join('@(Model.Key)'); 
            } 
        );

        createBarChart(votes);
    });

    function createBarChart(data) {
        $("#wijbarchart").wijbarchart({
            dataSource: data,
            axis: 
            {
                x: { 
                    min: 0,
                    autoMin: false
                   },
                y: { 
                    min: 0,
                    autoMin: false
                   }
            },
            seriesList: [{
                legendEntry: false,
                label: "votes",
                data: { x: { bind: "Option" }, y: { bind: "Count"} }
            }]
        }); 
        
        if (data.length>0)
        {
            for(var i=0;i<data.length;i++)
            {
                if (data[i].Count>0) {
                    $('#chartOverlayBg').hide();
                    $('#chartOverlayTx').hide();
                    $('#wijbarchart').css({opacity: 1.0});
                    break;
                }
            }
        }   
    }
</script>

    <div class="container">

    <header class="jumbotron masthead">
        <div class="inner">
            <p>@Model.Title?</>
            @{
                PhoneNumbers.PhoneNumberUtil phoneUtil = PhoneNumbers.PhoneNumberUtil.GetInstance();
                PhoneNumbers.PhoneNumber number = phoneUtil.Parse(Model.PhoneNumber, "US");
            }
            <p style="font-size:18px; font-weight: bold;">call @phoneUtil.Format(number, PhoneNumbers.PhoneNumberFormat.NATIONAL) to tally your vote</>
        </div>
    </header>
    
    <div class="row">
        <div class="span6">
            <div style="width: 400px; height: 300px; position: relative;">
                <div id="wijbarchart" class="ui-widget ui-widget-content ui-corner-all" style=" position: absolute; width: 100%; height:100%; opacity:0.2" > </div>
                @if (Model.Votes != null && Model.Votes.Count <= 0)
                { 
                <div id="chartOverlayBg" style="width:100%;height:100%;text-align:center;position:absolute;background-color:gray;opacity:0.4"></div>
                <div id="chartOverlayTx" style="width:100%;height:100%;text-align:center;position:absolute;"><h2 style="line-height:12;">nothing tallied yet</h2></div>
                }
            </div>
        </div>
        <div class="span6">
            <h3>tally options</h3>
            @if (Model.Options != null)
            { 
                foreach (var option in Model.Options.OrderBy(o=>o.Shortcut))
                {
                    <div>(@option.Shortcut) - @option.Answer</div>
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div style="margin-top:18px;">
            <h4>Current Votes Tallied</h4>
            @if (Model.Votes != null)
            { 
                foreach (var vote in Model.Votes)
                {
                    <div>@vote.From - @vote.Value</div>
                }
            }
            </div>
        </div>
    </div>

        <div class="row">
            <div class="span12">
            <div style="text-align: center">
                tally.vu is powered by <a href="http://twilio.com">twilio</a>, <a href="http://wijmo.com">wijmo</a> and <a href="http://signalr.net/">signalR</a>.
            </div>
            </div>
        </div>

    </div>